.home-page{
    display: grid;
    grid-template-areas: 
      "header header"
      "sidebar main"
      "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
  }

.with-sidebar{
  display: grid;
  grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.full-width{
  display: grid;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.header.light{
    grid-area: header;
    text-align: center; 
    background-color: #d27f5d;
    border-bottom: solid 1.75px black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.header.dark{
    grid-area: header;
    text-align: center; 
    background-color: #3c3c3b;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
    color: #f7f7f7;
}

.hidden{
  display: none !important;
}

.inline-block{
  display: inline-block !important;
}

.close{
  z-index: 1;
  background-color: #3c3c3b00;
  border: none;
  position: absolute;
  right: 0.25rem;
  top: 0.75rem;
  transition: transform 0.3s ease;
}

.hamburger-home{
  background-color: transparent;
  border: none;
  transition: transform 0.3s ease;
}

.hamburger-home img{
  background-color: white;
  padding: 0.25rem;
  border: solid 2.25px black;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
}

.hamburger-home:hover{
  transform: scale(1.05);
}

.close img{
  width: 1.75rem;
  height: 1.75rem;
}

  nav{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding-left: 1rem;
    padding-right: 1rem;
} 

.navbar-home{
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: end;
  position: absolute;
  right: 2rem;
  }

.user-profile{
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.user-profile img{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: solid 1.75px black;
  transition: transform 0.3s ease;
}

.user-profile img:hover, .close:hover, .hamburger:hover{
  transform: scale(1.05);
}

.logo-home{
    width: 12rem;
    margin-top: 0.5rem;
  }

  aside.light{ 
    text-align: center;
    grid-area: sidebar; 
    background-color: #a6b26d;
    border-right: solid 1.75px black;
    padding-bottom: 3rem;
}

  aside.dark{ 
    text-align: center;
    grid-area: sidebar; 
    background-color: black;
    border-right: solid 1.75px #3c3c3b;
    padding-bottom: 3rem;
    color: #f7f7f7;
}

.sidebar-item.light{
  position: relative;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: solid 1.75px black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.sidebar-item.dark{
  position: relative;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: solid 1.75px #3c3c3b;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.sidebar-item.light:hover{
  background-color: #d5c8b0;
}

.sidebar-item.dark:hover{
  background-color: #7f8080;
  color: black;
}

.heading{
  margin-top: 3rem;
}

.searchbar::-webkit-search-cancel-button{
  cursor: pointer;
  color: black;
}

.searchbar.light{
  width: 50rem;
  height: 2.25rem;
  border-radius: 5rem;
  font-size: 1rem;
  border: solid 1px black;
  padding-left: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  background-color: #f7f7f7;
  font-weight: medium;
}

.searchbar.light:focus{
  outline: none;
  border: solid 1.75px black;
  box-shadow: none;
  background-color: white;
}

.searchbar.dark{
  width: 50rem;
  height: 2.25rem;
  border-radius: 5rem;
  font-size: 1rem;
  border: solid 1px black;
  padding-left: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  background-color: #7f8080;
  font-weight: 600;
  color: black;
}

.searchbar.dark:focus{
  outline: none;
  border: solid 1.75px black;
  box-shadow: none;
  background-color: #7f8080;

}

.searchbar.light::placeholder{
  font-weight: 600;
}

.searchbar.dark::placeholder{
  font-weight: 600;
  color: black;
}

.searchbar-2{
  display: none;
}
     
.filter.light{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 5.5rem;
  height: 2.5rem;
  margin-bottom: 1rem;
  background-color: #d27f5d;
  border-right: solid 1.75px black;
  border-bottom: solid 1.75px black;
  border-top: none;
  border-left: none;
  font-weight: 600;
  border-radius: 0.5rem;  
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.filter.dark{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 5.5rem;
  margin-bottom: 1rem;
  background-color: #3c3c3b;
  border: none;
  border-left: none;
  font-weight: 600;
  border-radius: 0.5rem; 
  box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.37);
}

.logout-home.light{
  background-color: #a6b26d;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-right: solid 1.75px black;
  border-bottom: solid 1.75px black;
  border-top: none;
  border-left: none;
  font-weight: 600;
  border-radius: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: -3rem;
}

.logout-home.dark{
  background-color: black;
  box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.37);
  border: none;
  font-weight: 600;
  border-radius: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: -3rem;
}

.logout-home.light:hover, .filter.light:hover{
  background-color: #d5c8b0;
}

.logout-home.dark:hover, .filter.dark:hover{
  background-color: #7f8080;
  color: black;
}

.logout-home.dark:hover{
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.37);
}

@media (max-width: 399px){

}

@media (min-width: 400px) and (max-width: 599px){
 
}

@media (min-width: 600px) and (max-width: 899px){
  .header{
    height: 12rem;
  }

  .logo-home{
    width: 13rem;
    margin-left: 16rem;
  }

  .navbar-home{
    margin-top: 10rem;
    left: 2rem;
    gap: 2.5rem;
  }

  .searchbar.light, .searchbar.dark{
    width: 28rem;
  }

  .logout-home.light, .logout-home.dark, .user-profile{
     margin-right: -1rem;
  }
}

@media (min-width: 900px) and (max-width: 1199px){
  
}

@media (min-width: 1200px){
  
}

@media (max-width: 1200px){
 
}

@media (min-width: 2000px) and (max-width: 3648px){

}