.meal-planner-page{
    display: grid;
    grid-template-areas: 
      "header header"
      "sidebar main"
      "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
  } 

  .content{ 
    grid-area: main; 
    padding: 10rem;
    background-color: #f7f7f7;
} 

@media (orientation: portrait){
    
}

@media (orientation: landscape){
    
}