.meal-planner-page{
    display: grid;
    grid-template-areas: 
      "header header"
      "sidebar main"
      "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
  } 

.with-sidebar{
  display: grid;
  grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.delete-btn{
  background-color: transparent;
  border: none;
}

.save button{
  background-color: transparent;
  border: none;
  font-weight: 600;
}

.sidebar{
    position: relative;
}

.full-width{
  display: grid;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.hidden{
  display: none !important;
}

.inline-block{
  display: inline-block !important;
}

.close{
  z-index: 1;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0rem;
  transition: transform 0.3s ease;
}

.close img{
  width: 1.75rem;
  height: 1.75rem;
}

.meal{
    width: 12rem;
    height: 12rem;
    position: absolute;
    top: 0;
    left: 0;
  }

.week{
  font-weight: 600;
  padding: 3rem;
}

.grid-sidebar{
    grid-area: sidebar; 
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto;
    gap: 1.5rem;
    padding: 1.5rem;
}

  aside.light{  
    background-color: #a6b26d;
    border-right: solid 2px black;
}

  aside.dark{  
    background-color: black;
    border-right: solid 2px #3c3c3b;
}

.heading-center{
  text-align: center;
  font-size: larger;
}

.col1{
  width: 10rem;
}

.list{
  width: 17rem;
}

th.light, td.light{
    padding: 0.5rem;
  }

  th.dark, td.dark{
    padding: 0.5rem;
  }
  
  .th1.light{
    font-weight: 600;
    background-color: #f7f7f7;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
  }

  .th1.dark{
    font-weight: 600;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
  }

  th.light{
    font-weight: 600;
    background-color: #f7f7f7;
    border-bottom: 2px solid black;
  }

  th.dark{
    font-weight: 600;
    border-bottom: 2px solid black;
  }

  th.dark{
    font-weight: 600;
    background-color: #7f8080;
  }

  td.light{
      border-left: 2px solid black;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
  }

   td.dark{
      border-left: 2px solid black;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
  }

  table.light{
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    background-color: white;
    border-collapse: collapse;
  }
  
  table.dark{
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    background-color: #7f8080;
    border-collapse: collapse;
  }

.list.light{
  border: none;
  background-color: white;
  padding: 0.5rem;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: auto;
  text-align: center;
  cursor: pointer;
}

.table-wrapper.light{
  border-radius: 0.75rem;
  overflow: hidden; 
  width: 100%;
  height: 26.45rem;
  border: 2px solid black;
}

.table-wrapper.dark{
  border-radius: 0.75rem;
  overflow: hidden; 
  width: 100%;
  height: 26.45rem;
  border: 2px solid #3c3c3b;
}

.list.dark{
  border: none;
  background-color: #7f8080;
  padding: 0.5rem;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: auto;
  text-align: center;
  cursor: pointer;
}

.list.light:focus{
  outline: none;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.list.dark:focus{
  outline: none;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.block.light{
    border: solid 1px black;
    background-color: #f7f7f7;
    border-radius: 0.5rem;
    position: relative;
    width: 10rem;
    height: 10rem;
    cursor: pointer;
}

.block.dark{
    border: solid 1px #3c3c3b;
    color: black;
    background-color: #7f8080;
    border-radius: 0.5rem;
    position: relative;
    width: 10rem;
    height: 10rem;
    cursor: pointer;
}

.delete{
  width: 1.35rem;
  height: 1.35rem;
  border-radius: 0.125rem;
  cursor: pointer;
  top: 0.25rem;
  right: 0.25rem;
  padding: 0.125rem;
  position: absolute;
  z-index: 1;
  transition: transform 0.3s ease;
}

.delete:hover{
  transform: scale(1);
}

.save.light{
  background-color: #a6b26d;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

.save.dark{
  background-color: #3c3c3b;
  color: #f7f7f7;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
}

.save.light:hover{
    font-weight: bold;
    background-color: #d27f5d;
}

.save.dark:hover{
    font-weight: bold;
    background-color: black;
}

@media (max-width: 399px){

}

@media (min-width: 400px) and (max-width: 599px){

}

@media (min-width: 600px) and (max-width: 899px){

}

@media (min-width: 900px) and (max-width: 1199px){

}

@media (min-width: 1200px) and (max-width: 1699px){

}

@media (min-width: 1900px) and (max-width: 1999px){

}

@media (min-width: 2000px) and (max-width: 3648px){
h1{
    font-size: 2.5rem;
  }

  .bold, .heading-center, table{
    font-size: x-large;
  }

  .table-wrapper.dark, .table-wrapper.light{
    height: 37.25rem;
    margin-bottom: 5rem;
  }

  td.light, td.dark, th.light, th.dark{
    padding: 1rem;
  }

  .list.light, .list.dark{
    font-size: small;
    padding: 0.75rem;
    width: 20rem;
  }

  .bold, .heading-center{
    margin-top: 2rem;
  }
}