.header.light{
  grid-area: header;
  text-align: center; 
  background-color: #d27f5d;
  border-bottom: solid 1.75px black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.header.dark{
  grid-area: header;
  text-align: center; 
  background-color: #3c3c3b;
}

.logo-navbar{
  width: 12rem;
  margin-top: 0.5rem;
}

nav{
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding-left: 1rem;
  padding-right: 1rem;
} 

.navbar{
display: flex;
flex-direction: row;
align-items: end;
position: absolute;
right: 2rem;
}

.nav-item1.light, .nav-item2.light, .nav-item3.light{
  border-left: solid 1.75px black;
  padding: 2rem;  
  font-weight: 600;
  cursor: pointer;
}

.nav-item1.dark, .nav-item2.dark, .nav-item3.dark{
  border-left: solid 1.75px black;
  padding: 2rem;  
  font-weight: 600;
  cursor: pointer;
}

.nav-item4.light{
  border-left: solid 1.75px black;
  border-right: solid 1.75px black;
  padding: 2rem;  
  font-weight: 600;
  cursor: pointer;
}

.nav-item4.dark{
  border-left: solid 1.75px black;
  border-right: solid 1.75px black;
  padding: 2rem;  
  font-weight: 600;
  cursor: pointer;
}

.user-profile-nav{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  margin-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.user-profile-nav img{
  width: 2rem;
  height: 2rem;
  transition: transform 0.3s ease;
}

.user-profile-nav img:hover{
  transform: scale(1.05);
}

.nav-item1.light.active, .nav-item2.light.active, 
.nav-item3.light.active, .nav-item4.light.active{
  background-color: #a6b26d;
}

.nav-item1.dark.active, .nav-item2.dark.active, 
.nav-item3.dark.active, .nav-item4.dark.active{
  background-color: #d5c8b0;
  color: black;
}

.nav-item1.light:hover, .nav-item2.light:hover, 
.nav-item3.light:hover, .nav-item4.light:hover{
  background-color: #d5c8b0;
}

.nav-item1.dark:hover, .nav-item2.dark:hover, 
.nav-item3.dark:hover, .nav-item4.dark:hover{
  background-color: #d5c8b0;
  color: black;
}

.nav-item1.light.active:hover, .nav-item2.light.active:hover, 
.nav-item3.light.active:hover, .nav-item4.light.active:hover{
  background-color: #a6b26d;
  cursor: default;
}

.nav-item1.dark.active:hover, .nav-item2.dark.active:hover, 
.nav-item3.dark.active:hover, .nav-item4.dark.active:hover{
  background-color: #d5c8b0;
  cursor: default;
}

.logout.light{
  margin-left: 2rem; 
  margin-bottom: 1.5rem;
  background-color: #a6b26d;
  border-right: solid 1.75px black;
  border-bottom: solid 1.75px black;
  border-top: none;
  border-left: none;
  font-weight: 600;
  border-radius: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.logout.dark{
  margin-left: 2rem; 
  margin-bottom: 1.5rem;
  background-color: black;
  border-right: solid 1.75px white;
  border-bottom: solid 1.75px white;
  border-top: none;
  border-left: none;
  font-weight: 600;
  border-radius: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.logout.light:hover, .filter.light:hover{
  background-color: #d5c8b0;
}

.logout.dark:hover, .filter.dark:hover{
  background-color: white;
}

  @media (orientation: portrait){
    
  }
  
  @media (orientation: landscape){
      
  }