.logo-navbar{
  width: 12rem;
    margin-top: 0.5rem;
}

.nav{
    display: flex;
    justify-content: space-between; 
    align-items: end; 
    padding-left: 1rem;
    padding-right: 1rem;    
    flex-direction: row;
  }

.navbar{
  top: 1rem;
  list-style: none;
  text-align: center;
  display: flex;    
  flex-direction: row;
}

.nav-item{
  border-left: solid 1.75px black;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.nav-item:hover{
  background-color: #d5c8b0;
}

.logout{
  background-color: #a6b26d;
  border-right: solid 1.75px black;
  border-bottom: solid 1.75px black;
  border-top: none;
  border-left: none;
  font-weight: 600;
  border-radius: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.logout:hover, .filter:hover{
  background-color: #d5c8b0;
}

  @media (orientation: portrait){
    
  }
  
  @media (orientation: landscape){
      
  }