.recipe-card.light{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  text-align: center;
  border: solid 1.75px black;
  background-color: white;
  font-weight: bold;
  font-size: large;
  width: 18rem;
  height: 20.75rem;
  border-radius: 0.75rem;
  margin: auto;
  margin-bottom: 3.5rem;
  position: relative;
  transition: transform 0.3s ease;
}

.recipe-card button{
  background-color: transparent;
  border: none;
}

.back-button, .next-button{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    transition: transform 0.3s ease;
}

.pagination{
  grid-column: 1 / -1; 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.back-button img, .next-button img{
    width: 2rem;
    height: 2rem;
}

.back-button:hover,
.next-button:hover{
  transform: scale(1.1);
}

.back-button:disabled img, .next-button:disabled img{
 opacity: 0.5;
 cursor: not-allowed;
}

.back-button:disabled:hover, .next-button:disabled:hover{
  transform: none;
}

.recipe-card.dark{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  text-align: center;
  background-color: black;
  border: solid 1px #3c3c3b;
  font-weight: bold;
  font-size: large;
  width: 18rem;
  height: 20.65rem;
  border-radius: 0.75rem;
  margin: auto;
  margin-bottom: 3.5rem;
  position: relative;
  transition: transform 0.3s ease;
}

.recipe-card:hover{
  transform: scale(1.05);
}

.save-shortcut, .delete-shortcut{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.125rem;
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 0.125rem;
  position: absolute;
  z-index: 1;
  transition: transform 0.3s ease;
}

.hidden{
  display: none;
}

.inline-block{
  display: inline-block;
}

.save-shortcut:hover, .delete-shortcut:hover{
  transform: scale(1.05);
}

.card2.light{
  border-top: solid 1.75px black;
  background-color: #a6b26d;
  padding: 0.5rem;
  border-bottom-left-radius: 0.65rem;
  border-bottom-right-radius: 0.65rem;
}

.card2.dark{
  border-top: solid 1.75px black;
  background-color: #3c3c3b;
  padding: 0.5rem;
  color: #f7f7f7;
  box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.175);
  border-bottom-left-radius: 0.65rem;
  border-bottom-right-radius: 0.65rem;
}

.card2 h4{
  margin: 0;
}

.recipe-image{
  width: 100%;
  height: 100%;
  border: none;
  object-fit: cover;
  border-top-right-radius: 0.65rem;
  border-top-left-radius: 0.65rem;
  border-bottom-left-radius: none;
  border-bottom-right-radius: none;
}

.recipe-list{
    display: grid;
}

.recipe-list.with-sidebar {
  grid-template-columns: repeat(3, 1fr);
}

.recipe-list.full-width {
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 399px){

}

@media (min-width: 400px) and (max-width: 599px){

}

@media (min-width: 600px) and (max-width: 899px){

}

@media (min-width: 900px) and (max-width: 1199px){

}

@media (min-width: 1200px){
  
}