.recipe-page{
    display: grid;
    grid-template-areas: 
      "header header"
      "sidebar main"
      "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
  }

.with-sidebar{
  display: grid;
  grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.full-width{
  display: grid;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.loading.light{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: xx-large;
    font-weight: bolder;
    background-color: #d5c8b0;
    margin: 0;
}

.loading.dark{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: xx-large;
    font-weight: bolder;
    background-color: black;
    margin: 0;
    color: white;
}

.recipe-details-image{
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    border: solid 1.75px black;
}

.page-heading1.light{
    font-size: x-large;
    text-align: center;
    padding-bottom: 1rem;
    margin: 0;
}

.page-heading1.dark{
    font-size: x-large;
    text-align: center;
    padding-bottom: 1rem;
    margin: 0;
    color: #f7f7f7;
}

.page-heading2.light{
    text-align: center;
    padding-bottom: 1rem;
    margin: 0;
}

.page-heading2.dark{
    text-align: center;
    padding-bottom: 1rem;
    margin: 0;
    color: #f7f7f7;
}

.page-heading3.light{
    text-align: center;
    padding-bottom: 1.5rem;
    padding-top: 6rem;
    margin: 0;
}

.page-heading3.dark{
    text-align: center;
    padding-bottom: 1.5rem;
    padding-top: 6rem;
    margin: 0;
    color: #f7f7f7;
}

.recipe-page-grid.light{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: #f7f7f7;
    border: solid 1.75px black;
    border-radius: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.recipe-page-grid.dark{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: #3c3c3b;
    border: solid 1.75px black;
    border-radius: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.info-p.light{
    list-style: none;
    margin-left: -2rem;
}

.info-p.dark{
    list-style: none;
    color: #f7f7f7;
    margin-left: -2rem;
}

.info-p input[type="checkbox"]{
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.7em;
  cursor: pointer;
  border-radius: 0.2em;
}

.info-p.light input[type="checkbox"]:checked{
  accent-color: #d27f5d;
}

.info-p.dark input[type="checkbox"]:checked{
  accent-color: black;
}

.info-p2.light{
    list-style-type: decimal;
    margin-left: -3rem;
}

.info-p li{
  padding-bottom: 1rem;
  font-size: large;
  font-weight: 500;
}

.info-p2 li{
    padding-bottom: 1.5rem;
    font-size: large;
    font-weight: 500;
    line-height: 1.5rem;
}

.info-p2.dark{
    list-style-type: decimal;
    color: #f7f7f7;
    margin-left: -3rem;
}

.grid-col1.light, .grid-col2.light{
    border-right: none;
}

.grid-col1.dark, .grid-col2.dark{
    border-right: none;
}

.grid-col1, .grid-col2, .grid-col3{
    padding: 2.5rem;
}

.in-line.light{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: large;
    font-weight: 500;
    margin-left: 5.5rem;
}

.in-line.dark{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: large;
    font-weight: 500;
    margin-left: 5.5rem;
    color: #f7f7f7;
}

.in-line2.light{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: large;
    font-weight: 500;
    margin-bottom: -0.5rem;
}

.in-line2.dark{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: large;
    font-weight: 500;
    color: #f7f7f7;
    margin-bottom: -0.5rem;
}

.in-line-heading{
    font-weight: 600;
}

.hidden{
  display: none !important;
}

.inline-block{
  display: inline-block !important;
}

@media (max-width: 399px){

}

@media (min-width: 400px) and (max-width: 599px){

}

@media (min-width: 600px) and (max-width: 899px){

}

@media (min-width: 900px) and (max-width: 1199px){

}

@media (min-width: 1200px){
  
}

@media (min-width: 2000px) and (max-width: 3648px){

}