.loading.light{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: xx-large;
    font-weight: bolder;
    background-color: #d5c8b0;
    margin: 0;
}

.loading.dark{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: xx-large;
    font-weight: bolder;
    background-color: black;
    margin: 0;
    color: white;
}

.page-heading1.light{
    font-size: x-large;
    text-align: center;
    padding-bottom: 1rem;
    margin: 0;
}

.page-heading1.dark{
    font-size: x-large;
    text-align: center;
    padding-bottom: 1rem;
    margin: 0;
    color: #f7f7f7;
}

.page-heading2.light{
    text-align: center;
    padding-bottom: 1rem;
    margin: 0;
}

.page-heading2.dark{
    text-align: center;
    padding-bottom: 1rem;
    margin: 0;
    color: #f7f7f7;
}

.recipe-page-grid.light{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: #f7f7f7;
    border: solid 1.75px black;
    border-radius: 0.5rem;
}

.recipe-page-grid.dark{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: black;
    border: solid 1.75px #f7f7f7;
    border-radius: 0.5rem;
}

.info-p.light{
    list-style: none;
}

.info-p.dark{
    list-style: none;
    color: #f7f7f7;
}

.grid-col1.light, .grid-col2.light{
    border-right: solid 1.75px black;
}

.grid-col1.dark, .grid-col2.dark{
    border-right: solid 1.75px #f7f7f7;
}

.grid-col1, .grid-col2, .grid-col3{
    padding: 2.5rem;
}

.in-line.light{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.in-line.dark{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    color: #f7f7f7;
}

.in-line-heading{
    font-weight: 600;
}

/*This is for really small devices such as phones less than 576px)*/
@media (max-width: 575.98px){

}

/*This is for small devices that are 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px){

}

/*This is for medium devices such as tablets that are 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px){

}

/*This is for large devices such as desktops that are 992px and up*/
@media (min-width: 992px) and (max-width: 1199.98px){

}

/*This is for extra large devices that are 1200px and up*/
@media (min-width: 1200px){

}

@media (orientation: portrait){
    
  }
  
@media (orientation: landscape){
      
  }