.page-heading1{
    font-size: x-large;
    text-align: center;
    padding-bottom: 1rem;
    margin: 0;
}

.page-heading2{
    text-align: center;
    padding-bottom: 1rem;
    margin: 0;
}

.recipe-page-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: #f7f7f7;
    border: solid 1.75px black;
    border-radius: 0.5rem;
}

.info-p{
    list-style: none;
}

.grid-col1, .grid-col2{
    border-right: solid 1.75px black;
}

.grid-col1, .grid-col2, .grid-col3{
    padding: 2.5rem;
}

.in-line{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.in-line-heading{
    font-weight: 600;
}

@media (orientation: portrait){
    
}

@media (orientation: landscape){
    
}