.user-profile-page{
    display: grid;
    grid-template-areas: 
      "header header"
      "sidebar main"
      "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
  }

.with-sidebar{
  display: grid;
  grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.sidebar{
    position: relative;
}

.full-width{
  display: grid;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.hidden{
  display: none !important;
}

.inline-block{
  display: inline-block !important;
}

.close{
  z-index: 1;
  background-color: #3c3c3b00;
  border: none;
  position: absolute;
  right: 0rem;
  top: 0.25rem;
  transition: transform 0.3s ease;
}

.close img{
  width: 1.75rem;
  height: 1.75rem;
}

.user-profile-page form{
  padding-bottom: 2rem;
}

.tabs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 3rem;
}

.tab.light{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  text-align: center;
  border: solid 1.75px black;
  background-color: white;
  font-weight: bold;
  font-size: large;
  width: 22rem;
  height: 22rem;
  border-radius: 0.25rem;
  transition: transform 0.3s ease;
}

.tab.dark{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  text-align: center;
  border: solid 1.75px #3c3c3b;
  background-color: black;
  font-weight: bold;
  font-size: large;
  width: 22rem;
  height: 22rem;
  border-radius: 0.25rem;
  transition: transform 0.3s ease;
}

.tab:hover{
  transform: scale(1.05);
}

.tab2.light{
  padding: 0.5rem;
  border-top: solid 1.75px black;
  background-color: #a6b26d;
}

.tab2.dark{
  padding: 0.5rem;
  background-color: #3c3c3b;
  box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.175);
  color: #f7f7f7;
}

.user-image1{
  width: 15rem;
  height: 15rem;
  margin: 2rem;
  border: solid 1.75px black;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

#user-image-upload{
  display: none; 
}

.create-icon, .create-icon2{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.save-icon, .save-icon2{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.create-icon2.dark, .save-icon2.dark{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.create-icon2.light, .save-icon2.light{
  display: none;
}

.create-icon.dark, .save-icon.dark{
  display: none;
}

.save-change.light{
  background-color: #d27f5d;
  border-right: solid 1.75px black;
  border-bottom: solid 1.75px black;
  border-top: none;
  border-left: none;
  font-weight: 600;
  border-radius: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  margin: auto;
  display: block;
}

.save-change.dark{
  background-color: #3c3c3b;
  border: none;
  font-weight: 600;
  border-radius: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: auto;
  display: block;
  box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.37);
}

.save-change:hover.light{
  background-color: #d5c8b0;
}

.save-change:hover.dark{
  background-color: #7f8080;
  color: black;
}

.dark-mode.light{
  background-color: #d27f5d;
  border-right: solid 1.75px black;
  border-bottom: solid 1.75px black;
  border-top: none;
  border-left: none;
  font-weight: 600;
  border-radius: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  margin: auto;
  display: block;
}

.dark-mode.dark{
background-color: #3c3c3b;
  border: none;
  font-weight: 600;
  border-radius: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: auto;
  display: block;
  box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.37);
}

.dark-mode.light:hover{
  background-color: #d5c8b0;
}

.dark-mode.dark:hover{
  background-color: #7f8080;
  color: black;
}

.username-change.light, .password-change.light{
    width: 12rem;
    height: 3rem;
    text-align: left;
    padding-left: 1.5rem;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    color: black;
    background-color: white;
    font-weight: 600;
}

.username-change.dark, .password-change.dark{
    width: 12rem;
    height: 3rem;
    text-align: left;
    padding-left: 1.5rem;
    border: none;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
    color: black;
    background-color: #f7f7f7;
    font-weight: 600;
}

.username-change:focus, .password-change:focus{
    outline: none;
    border: solid 1px black;
}

.username-change::placeholder, .password-change::placeholder{
    color: rgb(50, 50, 50);
    font-weight: 600;
    font-size: 1rem;
}

.username-change, .password-change{
    margin-bottom: 1rem;
}

@media (max-width: 399px){
  
}

@media (min-width: 400px) and (max-width: 599px){
 
}

@media (min-width: 600px) and (max-width: 899px){
 
}

@media (min-width: 900px) and (max-width: 1199px){
 
}

@media (min-width: 1200px){
  
}

@media (min-width: 2000px) and (max-width: 3648px){

}