.user-profile-page{
    display: grid;
    grid-template-areas: 
      "header header"
      "sidebar main"
      "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }

.user-profile-page.with-sidebar{
  display: grid;
  grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.sidebar{
    position: relative;
}

.user-profile-page.full-width{
  display: grid;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.hidden{
  display: none !important;
}

.inline-block{
  display: inline-block !important;
}

.close{
  z-index: 1;
  background-color: #3c3c3b00;
  border: none;
  position: absolute;
  right: 0rem;
  top: 0.25rem;
  transition: transform 0.3s ease;
}

.close img{
  width: 1.75rem;
  height: 1.75rem;
}

.user-profile-page form{
  padding-bottom: 2rem;
}

.tabs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 3rem;
}

.tab.light{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  text-align: center;
  border: solid 2px black;
  background-color: white;
  font-weight: bold;
  font-size: large;
  width: 22rem;
  height: 22rem;
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
}

.tab.dark{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  text-align: center;
  border: solid 2px #3c3c3b;
  background-color: black;
  font-weight: bold;
  font-size: large;
  width: 22rem;
  height: 22rem;
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
}

.tab:hover{
  transform: scale(1.05);
}

.tab2.light{
  padding: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top: solid 2px black;
  background-color: #a6b26d;
}

.tab2.dark{
  padding: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: #3c3c3b;
  box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.175);
  color: #f7f7f7;
}

.user-image1.light{
  width: 15rem;
  height: 15rem;
  margin: 2rem;
  border: solid 2px black;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.user-image1.dark{
  width: 15rem;
  height: 15rem;
  margin: 2rem;
  border: solid 2px white;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.6;
}

#user-image-upload{
  display: none; 
}

.create-icon, .create-icon2{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.create-icon2, .save-icon2{
  opacity: 0.7;
}

.save-icon, .save-icon2{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 0.45rem;
  border-top-right-radius: 0.45rem;
}

.create-icon2.dark, .save-icon2.dark{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 0.45rem;
  border-top-right-radius: 0.45rem;
}

.create-icon2.light, .save-icon2.light{
  display: none;
}

.create-icon.dark, .save-icon.dark{
  display: none;
}

.save-change.light{
  background-color: #d27f5d;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
  border-top: none;
  border-left: none;
  font-weight: 600;
  border-radius: 0.5rem;
  width: 5.75rem;
  height: 3rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  margin: auto;
  display: block;
}

.save-change.dark{
  background-color: #3c3c3b;
  border: none;
  font-weight: 600;
  border-radius: 0.5rem;
  width: 5.75rem;
  height: 3rem;
  margin: auto;
  display: block;
  box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.37);
}

.save-change:hover.light{
  background-color: #d5c8b0;
}

.save-change:hover.dark{
  background-color: #7f8080;
  color: black;
}

.dark-mode.light{
  background-color: #d27f5d;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
  border-top: none;
  border-left: none;
  font-weight: 600;
  border-radius: 0.5rem;
  width: 5.75rem;
  height: 3rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  margin: auto;
  display: block;
}

.dark-mode.dark{
  background-color: #3c3c3b;
  border: none;
  font-weight: 600;
  border-radius: 0.5rem;
  width: 5.75rem;
  height: 3rem;
  margin: auto;
  display: block;
  box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.37);
}

.dark-mode.light:hover{
  background-color: #d5c8b0;
}

.dark-mode.dark:hover{
  background-color: #7f8080;
  color: black;
}

.username-change.light, .password-change.light{
    display: block;
    margin: auto;  
    width: 12rem;
    height: 3rem;
    text-align: left;
    padding-left: 1.5rem;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    color: black;
    background-color: white;
    font-weight: 600;
}

.username-change.dark, .password-change.dark{
    display: block;
    margin: auto;  
    width: 12rem;
    height: 3rem;
    text-align: left;
    padding-left: 1.5rem;
    border: none;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
    color: black;
    background-color: #f7f7f7;
    font-weight: 600;
}

.username-change:focus, .password-change:focus{
    outline: none;
    border: solid 1px black;
}

.username-change::placeholder, .password-change::placeholder{
    color: rgb(50, 50, 50);
    font-weight: 600;
    font-size: 1rem;
}

.username-change.light,
.username-change.dark{
    margin-bottom: 1rem;
}

.password-change.light, .password-change.dark{
    margin-bottom: 1.5rem;
}

@media (max-width: 350px){
  .tabs{
  flex-direction: column;
 }

 .tab.light, .tab.dark{
  width: 16rem;
  height: 16.45rem;
  margin-bottom: 5rem;
 }

   .user-image1.light,
   .user-image1.dark{
    width: 10rem;
    height: 10rem;
  }

  .username-change.light, 
  .username-change.dark,
  .password-change.light,
  .password-change.dark{
    width: 10rem;
    height: 2.5rem;
  }

  .save-change.light,
  .save-change.dark,
  .dark-mode.light,
  .dark-mode.dark{
    width: 5rem;
  }

  .save-change.light,
  .save-change.dark{
    height: 2.5rem;
  }

  .dark-mode.light,
  .dark-mode.dark{
    height: 3.5rem;
  }
}

@media (min-width: 350px) and (max-width: 400px){
   .tabs{
  flex-direction: column;
 }

 .tab.light, .tab.dark{
  width: 16rem;
  height: 16.45rem;
 }

   .user-image1.light,
   .user-image1.dark{
    width: 10rem;
    height: 10rem;
  }

  .username-change.light, 
  .username-change.dark,
  .password-change.light,
  .password-change.dark{
    width: 10rem;
    height: 2.5rem;
  }

  .save-change.light,
  .save-change.dark,
  .dark-mode.light,
  .dark-mode.dark{
    width: 5rem;
  }

  .save-change.light,
  .save-change.dark{
    height: 2.5rem;
  }

  .dark-mode.light,
  .dark-mode.dark{
    height: 3.5rem;
  }
}

@media (min-width: 400px) and (max-width: 600px){
 .tab.light, .tab.dark{
  width: 18rem;
  height: 18.45rem;
 }

  .tabs{
  flex-direction: column;
 }

   .user-image1.light,
   .user-image1.dark{
    width: 11rem;
    height: 11rem;
  }

  .username-change.light, 
  .username-change.dark,
  .password-change.light,
  .password-change.dark{
    width: 11rem;
    height: 2.5rem;
  }

  .save-change.light,
  .save-change.dark,
  .dark-mode.light,
  .dark-mode.dark{
    width: 5rem;
  }

  .save-change.light,
  .save-change.dark{
    height: 2.5rem;
  }

  .dark-mode.light,
  .dark-mode.dark{
    height: 3.5rem;
  }
}

@media (min-width: 600px) and (max-width: 900px){
 .tab.light, .tab.dark{
  width: 20rem;
  height: 20.25rem;
 }

 .tabs{
  flex-direction: column;
 }
}

@media (min-width: 1950px) and (max-width: 3648px){
.user-profile-page h1{
    font-size: 2.5rem;
    margin-top: 3rem;
  }

  .user-image1.light,
  .user-image1.dark{
    width: 25rem;
    height: 25rem;
    margin-top: 5rem;
  }

 .tab.light, .tab.dark{
  width: 35rem;
  height: 35rem;
  font-size: xx-large;
  border-radius: 0.75rem;
  margin-top: 4rem;
 }

 .tab2.light, .tab2.dark{
    padding: 0.75rem;
 }

  .username-change.light, 
  .username-change.dark{
    display: block;
    margin: auto;
    margin-bottom: 1.5rem;
    width: 20rem;
    height: 4.5rem;
    font-size: x-large;
    border-radius: 0.75rem;
  }

  .password-change.light, .password-change.dark{
    width: 20rem;
    height: 4.5rem;
    font-size: x-large;
    border-radius: 0.75rem;
  }

  .username-change::placeholder, 
  .password-change::placeholder{
    font-size: x-large;
  }

  .save-change.light, .save-change.dark, 
  .dark-mode.light, .dark-mode.dark{
    font-size: x-large;
    width: 8.5rem;
    height: 4.5rem;
    border-radius: 0.75rem;
  }

  .dark-mode.dark, .dark-mode.light{
    margin-bottom: 4rem;
  }
}